.Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vh;
    max-height: 5vh;
    margin-right: 3vh;
    background-color: burlywood;
    outline: none;
    border-radius: 1vh;
    border-width: 0;
    font-size: 14px;
}